:root {
    --dark: #615e5e ;
    --darker: #262424 ;
    --darkest: rgba(0, 0, 0, 0.267) ;
    --clear: #EEE ;
    --pink: #EC4899 ;
    --purple: #8B5Cf6 ;
    --gray: #6b7280 ;

}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--dark);
    color: var(--clear); 
}

header {
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0%;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: var(--clear);
}

#task-form {
    display: flex;

}

input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#task-input {
    flex: 1 1 0%;
    background-color: var(--darker);
    color: var(--clear);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    font-size: 1.1rem;
}

#task-input::placeholder {
    color: #EEE;
}